body{padding:0;margin:0;background:#fff;color:#000;font-family:verdana;font-size:1em;line-height:1.4em;}
td{padding:0;vertical-align:top;}
p{margin:0;padding:0 0 1em 0;}
img{border:0;}
a{color:#000;}
a:hover{text-decoration:none;}